# Gradle
.gradle/
build/
.kotlin/

# Local configuration
local.properties

# Log files
*.log
*_logs.txt
*logs.txt

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.navigation/
captures/

# Compiled binary & packages
*.apk
*.aab
*.dex
*.class

# Keystore
*.jks
*.keystore
!keystore/release.keystore

# OS files
.DS_Store
Thumbs.db

# Repomix
repomix-output.xml
