# Gradle
.gradle/
build/
.kotlin/

# Local configuration & signing secrets
local.properties
keystore.properties
signing.properties

# Log files
*.log
*_logs.txt
*logs.txt

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.navigation/
captures/

# Compiled binary & packages
*.apk
*.aab
*.dex
*.class

# Keystores & Certificates
keystore/
*.jks
*.keystore
*.p12
*.bks
*.pem
*.pk8

# OS files
.DS_Store
Thumbs.db

# Repomix
repomix-output.xml
